*.pyc
**/__pycache__/
.venv
.ruff_cache

# Ignore build artifacts
build
**/*.egg-info

# Ignore private keys and inventory files
keys/*.pem
inventory/inventory.ini

# Wireguard configuration files
wireguard-confs/*.conf

logs/*
