[Unit]
Description=Priviliged daemon for Wisp
Requires=wisp.socket

[Service]
Type=simple
WorkingDirectory=/usr/local/lib/wisp/src/
ExecStart=/usr/local/lib/wisp/venv/bin/python -m wisp.daemon.server
User=root
NonBlocking=true

[Install]
WantedBy=multi-user.target
